<!DOCTYPE html>
<html>
<head>
    <title>Payment Simulation</title>
</head>
<body>
    <h1>Online Payment Simulation</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form method="post">
        <label>User ID:</label>
        <input type="number" name="user_id" required><br><br>

        <label>Merchant ID:</label>
        <input type="number" name="merchant_id" required><br><br>

        <label>Amount:</label>
        <input type="number" step="0.01" name="amount" required><br><br>

        <button type="submit">Pay</button>
    </form>
</body>
</html>
