<!DOCTYPE html>
<html>
<head>
    <title>Insert Order</title>
</head>
<body>
    <h2>Insert New Order</h2>

    <form method="POST">
        Customer Name: <input type="text" name="customer"><br><br>
        Product Name: <input type="text" name="product"><br><br>
        Status: <input type="text" name="status"><br><br>
        Amount: <input type="text" name="amount"><br><br>
        <input type="submit" value="Insert Order">
    </form>

    <br>
    <a href="/">Back</a>
</body>
</html>